@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
.App {
  text-align: center;
  background-color: #F7F5EB;
  
}
html{
  background-color: #F7F5EB;
}


.test{
  color: #86A3B8;
  font-family: 'Kanit', sans-serif;
  margin-left: 10px;
  padding-top:100px;
  
}